/* bar 시작 */
.bar{position: fixed; left: 0; right: 0; bottom: 0; z-index: 20; border-top: 1px solid #b7b7b7; background: #fff; font-size: 0;}
.bar ul{display: flex;}
.bar li{flex:1; text-align: center; }
.bar li a{display: block; padding-top: 1.75rem; font-size: .41rem; color:#737373;}
.bar li a.on{color:#d00025;}
.bar li:nth-child(1) a { background: url(../images/ico_home.png) no-repeat top .45rem center / .85rem auto; }
.bar li:nth-child(2) a { background: url(../images/ico_history.png) no-repeat top .45rem center / .9rem auto; }
.bar li:nth-child(3) a { background: url(../images/ico_my.png) no-repeat top .45rem center / .88rem auto; }
.bar li:nth-child(3).on a{ background: url(../images/ico_my_on.png) no-repeat top .45rem center / .88rem auto;}
.bar li:nth-child(1).on a{ background: url(../images/ico_home_on.png) no-repeat top .45rem center / .88rem auto;}
.bar li:nth-child(2).on a{ background: url(../images/ico_history_on.png) no-repeat top .45rem center / .88rem auto;}
.bar li:nth-child(4).on a{ background: url(../images/ico_plus_on.png) no-repeat top .45rem center / .88rem auto;}
.bar li:nth-child(4) a { background: url(../images/ico_plus.png) no-repeat top .45rem center / 1rem auto; }
/* bar 끝*/
/* 포트폴리오 기능 및 페이지이동 도형 */
.blink::before,
.blink02::before{content: ""; position: absolute;z-index: 10; width:20px; height: 20px; border-radius: 100%; background: #fa70cb;animation:blink 0.8s ease-in-out infinite alternate;}
@keyframes blink{
0% {opacity:0}
49%{opacity:0}
50%{opacity:1}
}
 .blink::before{background: #fa70cb;}
 .blink02::before{background: #fbaf5d;}
@keyframes blink02{
0% {opacity:0}
49%{opacity:0}
50%{opacity:1}
}
