html{font-size: 20px;}
body{font-size: 1rem;}
/* header 시작 */
.header{position: relative;}
.header h2{text-align: center; font-size: .8rem; color:#323232; line-height: 2.6rem;}
.header .prev { position: absolute; top:50%; left:0; transform:  translateY(-50%);}
.header .prev a { display: inline-block; width:.91rem; height:.88rem; background: url(../images/btn_prev.png) no-repeat center / 100% auto;}
/* header 끝 */
/* mypage_detail03 시작 */
.mypage_detail03{padding: 0 1.13rem 7.8rem;}
.mypage_detail03 a{display: block; margin: 1.2rem 0; width:100%; background: #c5c5c5; color:#fff; font-size: .71rem; line-height: 2.8rem; text-align: center;}
.mypage_detail03 .pw_find{background: none; color:#7e7e7e; }
input[type="text"]{padding: .68rem 0 .78rem; width:100%; border-bottom: 6px solid #c5c5c5; font-size: .9rem; color:#c4c4c4; }
input[type="password"]{display: block; padding-bottom: .78rem; margin-top: .68rem; border-bottom: 6px solid #c5c5c5; font-size: .9rem; color:#c4c4c4; }
label{font-size: .6rem; color:#4c4c4c;}
label.email{display: block; padding-top: 1.15rem; }
label.pwd{display: block; padding-top: 2.1rem;}
.email_join{ padding: 1.31rem 1.13rem; background: #f8f8f8; text-align: left; }
.email_join b{font-size: .9rem; color:#4d4d4d; line-height: 1.18rem; }
.email_join p{padding: .7rem 0 1.36rem; font-size: .63rem; color:#4d4d4d; line-height: .83rem; }
.email_join a{display: block; background: #c82c4d; font-size:.75rem; color:#ffffff; line-height: 2.8rem; text-align: center;}
/* mypage_detail03 끝*/
